---
import AboutHeroImage from '../../assets/blog-placeholder-about.jpg';
import Layout from '../../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Dongze's personal blog, sharing thoughts on technology and life."
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		Hi, I'm Dongze. I'm a developer and a lifelong learner. This blog is where I share my thoughts on technology, life, and everything in between.
	</p>

	<p>
		I'm passionate about building things that matter and exploring new ideas. Whether it's coding, reading, or traveling, I'm always looking for ways to grow and contribute.
	</p>

	<p>
		Feel free to reach out to me on <a href="https://github.com/mimanchi-dongze">GitHub</a> if you'd like to connect or collaborate!
	</p>
</Layout>
