---
import AboutHeroImage from '../../assets/blog-placeholder-about.jpg';
import Layout from '../../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About DongZe: a student developer from Chongqing focused on computer vision, time series, and VibeCoding."
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		Hi, I'm DongZe, a student developer from Chongqing.
		This blog documents my learning and hands-on work in computer vision, time series, and VibeCoding.
	</p>

	<p>
		I care about more than just making things run - I also focus on reproducibility,
		interpretability, and iterative improvement.
		You'll find experiment notes, project retrospectives, and build-to-ship workflows here.
	</p>

	<p>
		If you're working on similar problems, feel free to connect on
		<a href="https://github.com/mimanchi-dongze">GitHub</a>.
	</p>
</Layout>
