---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="关于 DongZe：一名来自重庆的学生开发者，专注计算机视觉、时间序列与 VibeCoding。"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		你好，我是 DongZe，来自重庆，是一名学生开发者。
		这个博客主要记录我在计算机视觉、时间序列和 VibeCoding 方向上的学习与实践。
	</p>

	<p>
		我关注的不只是“能跑起来”，更是“能复现、能解释、能持续迭代”。
		所以你会在这里看到实验记录、项目复盘、以及从想法到上线的过程笔记。
	</p>

	<p>
		如果你也在做相关方向，欢迎通过
		<a href="https://github.com/mimanchi-dongze">GitHub</a>
		交流。
	</p>
</Layout>
