---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="关于 Dongze 的个人博客，分享技术与生活。"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		你好，我是 Dongze。我是一名开发者，也是一名终身学习者。这个博客是我分享关于技术、生活以及其他一切想法的地方。
	</p>

	<p>
		我热衷于构建有意义的事物并探索新想法。无论是编程、阅读还是旅行，我总是在寻找成长和贡献的方式。
	</p>

	<p>
		如果你想建立联系或合作，欢迎在 <a href="https://github.com/mimanchi-dongze">GitHub</a> 上联系我！
	</p>
</Layout>
